<div class="button-group" role="radiogroup" [attr.aria-labelledby]="label">
  <label [attr.id]="id" class="label">{{ label }}</label>
  <button
    [attr.ariaChecked]="value === options.YES"
    role="radio"
    type="button"
    class="button button-yes"
    [class.button-pressed]="value === options.YES"
    (click)="activate(options.YES)"
  >
    Yes
  </button>
  <button
    [attr.ariaChecked]="value === options.NO"
    role="radio"
    type="button"
    class="button button-no"
    [class.button-pressed]="value === options.NO"
    (click)="activate(options.NO)"
  >
    No
  </button>
</div>
